@import '../../global.css';

.bordaCarros
{
    border: 1px solid #9F9999;
    border-radius: 10px;
    margin-top: 99px;
}

.alinhamentoCarros
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloCarros
{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #040404;
    margin-top: 36px;
    text-align: center;
}

.cardInputsCarros
{
    width: 992px;
}

.inputCarro
{
    width: 991px;
    height: 70px;
    border: none;
    background: #DCE0E2;
    border-radius: 10px;
    margin-top: 49px;
}

.alinhamentoInputs
{
    margin-top: 58px;
}

.airbags
{
    width: 320px;
    height: 70px;
    background: #DCE0E2;
    border-radius: 10px;
    border: none;
}

.inputPortas
{
    width: 320px;
    height: 70px;
    background: #DCE0E2;
    border-radius: 10px;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
}

.inputPessoas
{
    width: 320px;
    height: 70px;
    background: #DCE0E2;
    border-radius: 10px;
    border: none;
}

.filial
{
    margin-top: 58px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.locadoras
{
    width: 583px;
    height: 70px;
    background: #DCE0E2;
    border-radius: 10px;
    border: none;
}

.btnCadastrarCarros
{
    width: 250px;
    height: 70px;
    background: #DB1812;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.tituloCarroEconomico
{
    font-family: 'Montserrat';
    font-size: 40px;
    color: #040404;
    font-weight: 400;
    margin-top: 166px;
}

.bordaTitulo
{
    width: 634px;
    border: 1px solid #000000;
}

.alinhamentoCarrosEconomicos
{
    display: flex;
}

.cardCarroEconomico
{
    width: 352px;
    height: 600px;
    background: #FFFFFF;
    border: 1px solid #C6C4C4;
    border-radius: 10px;
    margin-top: 29px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.imgCarroEconomico
{
    width: 350px;
    height: 198.22px;
    border-radius: 10px;
}

.nomeCarros
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    width: 250px;
    margin-top: 34.78px;
}

.txtCarros
{
    font-family: 'Quicksand';
    font-style: normal;
    font-size: 20px;
    color: #040404;
    width: 250px;
    margin-top: 35px;
}

.btnEditarCarros
{
    width: 250px;
    height: 75px;
    background: #DB1812;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 38px;
}

.btnExcluirCarros
{
    width: 250px;
    height: 75px;
    background: #FFFFFF;
    border: 2px solid #DB1812;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 24px;
    color: #DB1812;
    margin-top: 12px;
}

.cardCarroEconomico2
{
    margin-left: 40px;
    margin-right: 44px;
    width: 352px;
    height: 600px;
    background: #FFFFFF;
    border: 1px solid #C6C4C4;
    border-radius: 10px;
    margin-top: 29px;
    display: flex;
    flex-direction: column;
    align-items: center
}