@import '../../global.css';

.logoLogin
{
    text-align: center;
    margin-top: 62px;
}

.alinhamentoLogin
{
    display: flex;
    justify-content: center;
    margin-bottom: 159px;
}

.cardLogin
{
    border: 1px solid #9F9999;
    border-radius: 10px;
    width: 550px;
    height: 893px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 127px;
    margin-right: 36px;
}

.h2Login
{
    margin-top: 49px;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.txtLogin
{
    margin-top: 76px;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    width: 420px;
}

.cardCadastro
{
    border: 1px solid #9F9999;
    border-radius: 10px;
    width: 550px;
    height: 893px;
    text-align: center;
    margin-top: 127px;
}

.h2Cadastrar
{
    margin-top: 49px;
    margin-bottom: 38px;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.preenchimentoCadastro
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    
}

.inputCadastro
{
    width: 450px;
    height: 70px;
    font-family: 'Quicksand';
    font-size: 24px;
    padding-left: 39px;
    background-color: #DCE0E2;
    border-radius: 10px;
    border: none;
    padding-bottom: 15px;
}

.inputCadastro::placeholder
{
    color: black;
}

.cadastrarLogin
{
    width: 250px;
    height: 70px;
    background: #DB1812;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 24px;
    margin-top: 303px;
    cursor: pointer;
}

.cadastrarLogin:hover
{
    color: #DB1812;
    background-color: white;
    border: 2px solid #DB1812;
    border-radius: 5px;
}