@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  max-width: 1440px;
  margin: auto;
}
